# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
*.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
